/* Fade animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.container {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    text-align: center;
    padding-top: 20rem;
}

.discord-button {
    background-color: #7289DA;
    border: 0.1rem solid #7289DA;
}

.go-button {
    background-color: rgb(67, 181, 129);;
    border: 0.1rem solid rgb(67, 181, 129);;
}

.gitlab-button {
    background-color: #db402b;
    border: 0.1rem solid #db402b;
}

.warning-button {
    background-color: rgb(240, 71, 71);
    border: rgb(240, 71, 71);
}

.wave-button {
    background-color: #00b8c2;
    border: #00b8c2;
}

.button {
    margin: 1.5px;
}

.button:hover {
    box-shadow:0 4px 4px rgba(0,0,0,0.25);
}

.squish {
    max-width: 40rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.squish-less {
    max-width: 80rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

a {
    color: #87cefa;
}
